spring:
  datasource:
    url: jdbc:mysql://localhost:3306/zdb?useSSL=false
    username: root
    password: 5402
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      auto-commit: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true